/Nest.BaseCore/Nest.BaseCore.Aop/*
/Nest.BaseCore/.vs
/Nest.BaseCore/Nest.BaseCore.Cache/obj
/Nest.BaseCore/Nest.BaseCore.Cache/bin
/Nest.BaseCore/Nest.BaseCore.Common/bin
/Nest.BaseCore/Nest.BaseCore.Common/obj
/Nest.BaseCore/Nest.BaseCore.Domain/bin
/Nest.BaseCore/Nest.BaseCore.Domain/obj
/Nest.BaseCore/Nest.BaseCore.Log/bin
/Nest.BaseCore/Nest.BaseCore.Log/obj
/Nest.BaseCore/Nest.BaseCore.MessageQueue/bin
/Nest.BaseCore/Nest.BaseCore.MessageQueue/obj
/Nest.BaseCore/Nest.BaseCore.Repository/bin
/Nest.BaseCore/Nest.BaseCore.Repository/obj
/Nest.BaseCore/Nest.BaseCore.Service/bin
/Nest.BaseCore/Nest.BaseCore.Service/obj
/Nest.BaseCore/Nest.BaseCore.Test/bin
/Nest.BaseCore/Nest.BaseCore.Test/obj
/Nest.BaseCore/Nest.BaseCoreApi/bin
/Nest.BaseCore/Nest.BaseCoreApi/obj
/Nest.BaseCore/Nest.BaseCoreWeb/bin
/Nest.BaseCore/Nest.BaseCoreWeb/obj
/Nest.BaseCore/UnitTestProject1/bin
/Nest.BaseCore/UnitTestProject1/obj
/Nest.BaseCore/Nest.BaseCoreWeb/Log
/Nest.BaseCore/Nest.BaseCoreWeb/*.user
/Nest.BaseCore/Nest.BaseCoreApi/Log/LogDebug/*.log
/Nest.BaseCore/Nest.BaseCoreApi/Log/LogError/*.log
/Nest.BaseCore/Nest.BaseCoreApi/Log/LogInfo/*.log
